:root {
    --red: #ff1843;
    --green: #5fff56;
    --blue: #0095ff;
    --pink: #ff008e;
    --orange: #ff6f00;
    --purple: #6b5fff;
    --nearBlack: #00122c;

    --transparent: #ffffff55;
    --darktransparent: #00000055;

    --bpblue: #3963ff;
    --bplightgreen: #6ba470;
    --bpgreen: #52d65e;
    --bpyellow: #d6c052;
    --bporange: #ff6f00;
    --bpred: #b60000;
    --bpmagenta: #ea5fff;
    --bppink: #dca5e6;
    --bpblack: #000;
    --bpgrey: #a0a0a0;
    --bpdarkorange: #742400;

    --wred: #ea3030;
    --worange: #de742e;
    --wyellow: #e3d253;
    --wgreen: #44c548;
    --wblue: #4d88da;
    --wcyan: #43cfc3;
    --wpink: #ef61d0;
    --wpurple: #7c3dc3;
    --wwhite: #cfcfcf;
    --wblack: #000000;

    --wdarkred: #9c2020;
    --wdarkorange: #8d481d;
    --wdarkyellow: #877c31;
    --wdarkgreen: #226223;
    --wdarkblue: #26446c;
    --wdarkcyan: #20635c;
    --wdarkpink: #843573;
    --wdarkpurple: #3f1f64;
    --wdarkwhite: #707070;
    --wdarkblack: #1a1a1a;

    --curve: cubic-bezier(.24,1.19,.43,1.654);
}

@font-face {
    font-family: Fredoka;
    src: url("assets/fonts/Fredoka.ttf")
}

@font-face {
    font-family: Rubik;
    src: url("assets/fonts/Rubik.ttf")
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bpblue);
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;

    background-color: black;

    scrollbar-width: none;
}

html, body {
    overscroll-behavior: none;
}

.page-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.content {
    flex: 1;
    margin-left: 50px;
}

.footer {
    margin-top: auto;
    z-index: 10;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Rubik, sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    padding: 0 10px;
    margin: 0;
    white-space: pre-wrap;
}

h1 {font-size: 45px;}
h2 {font-size: 40px;}
h3 {font-size: 35px;}
h4 {font-size: 25px;}
h5 {font-size: 17px;}

p {
    font-family: Fredoka, sans-serif;
    font-weight: 450;
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

a {
    font-family: Fredoka, sans-serif;
    font-weight: 600;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
    transition: font-size 0.3s var(--curve);
    cursor: pointer;
}

h1 a {
    display: inline-block;
    transition: transform 0.3s var(--curve);
    cursor: pointer;
}

h1 a:hover {
    transform: scale(1.1);
}

.page-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--transparent);
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    z-index: 9999;
    /*border-right: 5px solid white;*/
    backdrop-filter: blur(10px);
    overflow-y: scroll;
}

.textbox {
    width: 100%;
    height: 30px;
    border-radius: 0;
    border: none;
    padding: 10px;
    font-family: Fredoka, sans-serif;
    background-color: var(--transparent);
    color: black;

}

.items-search {
    width: 100%;
    display: flex;
    text-align: left;
    color: white;
    font-family: Rubik, sans-serif;
}

.items-search h1:hover {
    background-color: var(--transparent);
    transition: background-color 0.3s var(--curve);
    cursor: pointer;
}

.items-title {
    width: 100%;
    display: flex;
    text-align: left;
    color: white;
    font-family: Rubik, sans-serif;
    pointer-events: none;
    user-select: none;
}

.items-container {
    width: 100%;
    display: flex;
    text-align: left;
    color: white;
    font-family: Fredoka, sans-serif;
    flex-direction: column;
    pointer-events: initial;
}

.item {
    /*user-select: none;*/
    width: 100%;
    height: 60px;
    /*background-color: var(--bpblue);*/
    display: flex;
    align-items: center;

    transition: background-color 0.3s var(--curve);
}

.item img {
    height: 60px;

    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.item-img-container {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
}

.item p {
    font-size: 25px;
}

#canvas {
    width: calc(100vw - 70px);
    height: calc(100vh - 70px);
    border: 5px solid white;
    position: relative;
    overflow: hidden;
}

.canvas-bg {
    background: url("assets/images/editor/dot.png");
    background-size: 1em;
    width: 100%;
    height: 100%;
}

.bottom-bar {
    display: flex;
    bottom: 35px;
    right: 35px;
    left: 300px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    position: fixed;
    pointer-events: none;
}

.bottom-button {
    max-width: 30px;
    cursor: pointer;
    pointer-events: initial;

    transition: background-color 0.3s var(--curve);
}

.bottom-button:hover {
    transition: background-color 0.3s var(--curve);
    background-color: var(--transparent);
}

.button-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 99999;
    /*background-color: #5fff56;*/
    align-items: end;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.button-bar * {
    margin: 0;
}

.info-bar {
    z-index: 99998;
    flex-direction: column;
}

.info-bar p {
    text-align: right;
    font-family: Rubik, sans-serif;
    margin: 0;
    padding-right: 6px;
    padding-left: 6px;
    color: white;
}

#ui_schemaName {
    white-space: nowrap;
    transition: background-color 0.3s var(--curve);
    pointer-events: initial;
}

#ui_schemaName:hover {
    background-color: var(--transparent);
    transition: background-color 0.3s var(--curve);
}

#ui_ss-warning {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 999999999999;
    background-color: var(--red);
    align-content: center;
    justify-content: center;
    text-align: center;

    display: none;
}

@media (max-width: 750px) {
    #ui_ss-warning {
        display: initial;
    }
}

@media (max-height: 350px) {
    #ui_ss-warning {
        display: initial;
    }
}

.editor {
    background-color: var(--bpblue);
}

.item:hover {
    transition: background-color 0.3s var(--curve);
    background-color: var(--transparent);
    cursor: pointer;
}

.block {
    position: absolute;
    margin: 0;
    padding: 0;
    display: block;

    top:0;
    left: 0;

    width: fit-content;
    height: fit-content;

    z-index: 10;
}

.block img {
    max-block-size: 100px;
    display: block;
}

.wire-clickzone {
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: background-color 0.3s var(--curve);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 11;
}

.wire-clickzone:hover {
    background-color: var(--transparent);
    transition: background-color 0.3s var(--curve);
}

.inputs {
    top: 0;
    left: -10px;

    position: absolute;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.outputs {
    top: 0;
    right: -10px;

    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.wire-head {
    width: 6px;
    height: 6px;
    position: absolute;

    border-radius: 10px;

    display: flex;
    align-items: center;
    /*justify-content: center;*/

    /*background-color: #fff;*/

    z-index: 50;
}

.wire-segment {
    /*width: 100px;*/
    height: 6px;

    flex-shrink: 0;
    display: flex;

    /*background-color: #EA303055;*/
    background-color: var(--wred);
    outline: 1px solid var(--darktransparent);
    border-radius: 10px;
    transform-origin: 3px 50%;

    align-items: center;
    justify-content: end;

    /*transform: rotate(45deg);*/

    pointer-events: none;
    z-index: 45;
}

.sidebar-container {
    pointer-events: none;
}